*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgba(72, 163, 0,0.07);
    font-family: poppins, sans-serif;
}
main{
    padding: 0px 16px 32px;
}
.title{
    font-size: 64px;
    color: #48A300;
    text-align: center;
}
.title span{
   color: #61481c;
}   
.container{
    max-width:660px;
    margin-inline: auto;
    border-radius: 15px;
    background-color: #FBFBFB;
    padding: 30px 40px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2) ;
}
.sun-icon{
    vertical-align: middle;
    margin-left: 16px;
}

.progress-label{
    font-size: 14px;
    color: #858585;
    margin-bottom: 20px;
    margin-top: 70px;
}
.progress-bar{
    height: 30px;
    background-color: rgba(72,163,0,0.1);
    border-radius: 15px;
    margin-bottom: 42px;

}
.progress-value{
    height: 100%;
    border-radius: 15px;
    background-color: #48A300;
    width: 70%;
    font-weight: 500;
    font-size: 10px;
    color: #EEFFE0;
    display: flex;
    align-items: center;
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}
.progress-value span{
    padding-left: 20px ;
    min-width: max-content;
}

.error-label{
    font-size: 12px;
    color: #FF5151;
    position: absolute;
    margin-top: 4px;
    display: none;
}
.show-error .error-label{
    display: block;
}

.goal-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  height: 82px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  background-color: #ffffff;
  margin-bottom: 42px;
}
.custom-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(97, 72, 28, 0.3);
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-icon{
    display: none;
}

.goal-input{
    /* height: 100%; */
    align-self: stretch; /* height*/
    width: 100%;
    /* flex-grow: 1;   width */
    border: none;
    outline: none;
    padding-left: 22px;
    font-family: inherit;
    font-size: 16px; 
    font-weight: 500;  
}
.goal-input::placeholder{
    color: #D9D9D9;
}
.completed .goal-input{
    color: #48A300;
    text-decoration: line-through;
}
.quote{
    font-weight: 500;
    text-align: center;
}
.made-with{
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    color: #858585;
    margin-top: 64px;
}

.completed .goal-container{
    background-color: #48A300;
    border-color:#48A300 ;
}
.completed .check-icon{
    display: block;
}

.reset {
    display: none;
    padding: 6px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    font-weight: 500;
}

.reset-visible {
    animation: fadeIn 0.3s ease-in;
}

/* @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
} */






@media (max-width: 768px) {
    main{
        margin-top: 50px;
    }
    .title{
        font-size: 32px;
    }
    .container{
        padding: 16px 32px ;
        margin-top: 30px;
    }
    .goal-container{
        height: 64px;
        margin-bottom: 24px;
        border-radius: 12px;
    }
    .custom-checkbox{
        height: 20px;
        width: 20px;
    }
    .check-icon{
        width: 20px;
    }
    .made-with{
        margin-top: 32px;
    }
    .progress-bar{
        height: 24px;
    }
    .progress-value span{
    padding-left: 10px ;
    }
    /* .progress-label{
        margin-top: 75px;
    } */
}